

@import "modern-normalize";

:root {
  line-height: 1.5;
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

img {
    height: 20px;
    display: inline-block;
}

body {
    display: grid;
    grid-template-columns: repeat(4, minmax(1fr, 400px));
    grid-template-rows: minmax(auto, 200px) auto 1fr;
    margin: 0;
    gap: 5px;
    background-color: #E2E8F0;
}

.header {
    grid-area: 1/2/2/5;
    background-color: #FFFFFF;
    max-height: 200px;
}

.aside {
    grid-area:1/1/4/2;
    background-color: rgba(13, 158, 241, 0.897);
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: white;
    padding: 20px 0 0 20px;
    margin: 0;
}

.icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  color: white;
  fill: white;
}

.right-aside {
    grid-column: 4/5;
    grid-row: 3/4;
    display: grid;
    grid-template-rows: 500px 50px 300px;
    padding-left: 20px;
}

.header div {
  width: 100%;
}

.heading {
  grid-area: 2/2/3/5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.main {
  display: grid;
  grid-area: 3/2/4/4;
  grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  padding-bottom: 30px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

.main > div {
  background-color: #FFFFFF;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  border-left: 5px solid #F0B429;
}

.announcements {
  display: flex;
  flex-direction: column;
}


.right-aside section {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding-left: 30px;
}



.announcements div {
  padding: 20px 5px 20px 0;
  border-bottom: 4px solid gainsboro;

}


ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

button {
  border: none;
  padding: 5px;
  border-radius: 25px;
  background-color: rgba(13, 158, 241, 0.897);
  color: white;
  font-weight: bold;
  width: 80px;
  font-size: 18px;
}

.profile-id {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-picture {
  display: inline-block;
  margin-right: 30px;
  height: 40px;
}

.upper-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.upper-profile div:last-child {
  justify-self:flex-end;
}

.profile-id div:first-child {
  display: flex;
}

input {
  width: 90%;
  border-radius: 25px;
  background-color:#E2E8F0;
  border: none;
  font-size: 18px;
  height: 25px;
  padding-left: 10px;
}

input::placeholder {
  font-size: 18px;
}

input:focus {
  outline: none;
  border: none;
  padding-left: 10px;
}

.upper-profile div:last-child {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 60px;
}

.button {
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;

}

.profile-id div p {
  font-size: 14px;
}

.user-name {
  font-size:18px;
}

.text {
  vertical-align: middle;
}



svg {
  display: inline-block;
  fill: white;
  vertical-align: middle;
  height: 24px;
  width: 24px;
}

.logo a {
  font-size: 24px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#large-icon {
  width: 50px;
  height: 60px;
}

.main-icon {
  display: flex;
  gap: 10px;
  display: block;
  float: right;
  padding: 20px;
}

.main-icon-image {
  height: 20px;
  width: 20px;
}

.trending div {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 10px;
}

.trend-heading {
  padding-left: 50px;
  margin-top: 20px;
  text-align: center;
}

.trending div img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}