

@import "modern-normalize";

:root {
  line-height: 1.5;
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

img {
    height: 15px;
    display: inline-block;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15% 5% 80%;
    margin: 0;
    gap: 5px;
    background-color: #E2E8F0;
}

.header {
    grid-area: 1/2/2/5;
    background-color: #FFFFFF;
}

.aside {
    grid-area:1/1/4/2;
    background-color: rgba(13, 158, 241, 0.897);
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: white;
    padding: 20px 0 0 20px;
    margin: 0;
}

.icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  color: white;
  fill: white;
}

.right-aside {
    grid-column: 4/5;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.header div {
  width: 100%;
}

.heading {
  grid-area: 2/2/3/5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.main {
  display: grid;
  grid-area: 3/2/4/4;
  grid-template-columns:repeat(2, minmax(300px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

.main div {
  background-color: #FFFFFF;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
}

.announcements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.right-aside section {
  background-color: #FFFFFF;
}



.announcements div {
  padding: 20px 5px 20px 0;
  border-bottom: 4px solid gainsboro;

}


ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

button {
  border: none;
  padding: 5px;
  border-radius: 25px;
  background-color: rgba(13, 158, 241, 0.897);
  color: white;
  font-weight: bold;
  width: 80px;
  font-size: 18px;
}

.profile-id {
  display: flex;
  flex-direction: row;
  flex-basis: 1;
  justify-content: space-between;
}

.profile-picture {
  display: inline-block;
  margin-right: 30px;
  height: 50px;
}

.upper-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.upper-profile div:last-child {
  justify-self:flex-end;
}

.profile-id div:first-child {
  display: flex;
}